.banner {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    padding-top: 100px;
    padding-bottom: 80px;
}

.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}

.icon-link > .bi {
    margin-top: .125rem;
    margin-left: .125rem;
    fill: currentcolor;
    transition: transform .25s ease-in-out;
}
.icon-link:hover > .bi {
    transform: translate(.25rem);
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.plans {
    padding-bottom: 100px;
}

.depoiments {
    .row {
        margin-top: 50px;
    }
}

.marketing {
    padding-bottom: 100px;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
  /* rtl:begin:ignore */
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

footer {
    background-color: white;
    border-top: 1px solid #ccc;
    padding: 10px 0 10px 0;
}